.landing-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    height: 100%;
    overflow: hidden;
    min-width: 333px;
}

.landing-right {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    background-color: #1d2b41;

    display: relative;
    overflow: hidden;
}

.landing-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;

    height: 100vh;
    background-color: black;
    z-index: 9999;

    position: relative;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0 0 .5rem;
    position: absolute;
}

.summaryai-logo {
    width: 7rem;
    height: 7rem;
}

.summaryai-header-title {
    font-size: 3rem;
    color: #fff;
}



.free-text {
    font-weight: bold;
    color: #4CAF50;
    margin-left: 1rem;
}

.right-panel-header {
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}



.auth-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.auth-button {
    width: 25rem;
    height: 5rem;
    border-radius: .5rem;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    background-color: #27549e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    line-height: 5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, box-shadow 0.3s;

}

.auth-button:hover {
    background-color: #437dd3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.auth-button-text {
    margin-top: -.4rem;
}


.divider {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.divider-line-left {
    width: 10%;
    height: 1px;
    background-color: #e7e7e7;
}

.divider-line-right {
    width: 10%;
    height: 1px;
    background-color: #e7e7e7;
}

.divider-text {
    color: #e7e7e7;
    font-size: 2rem;
    margin: 0 1rem;
}

.download-extension-button {
    width: 25rem;
    height: 5rem;
    border-radius: 2.5rem;
    /* background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%); */
    background: linear-gradient(135deg, #00c6fb 0%, #005bea 100%);

    color: white;
    font-size: 2rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    transition: transform 0.2s;

    cursor: pointer;
}

.download-extension-icon {
    font-size: 2.5rem;
    margin-right: 1rem;
    transition: transform 0.2s;

}

.download-extension-button:hover {
    transform: scale(1.05);
    /* background: linear-gradient(135deg, #00c6fb 0%, #005bea 100%); */
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);

}

.download-extension-button:hover .download-extension-icon {
    transform: rotate(20deg);

}



.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #000;
    color: #fff;

    position: absolute;
    bottom: 1rem;
}

.footer-logo img {
    max-width: 10rem;
    margin-bottom: 1rem;
}

.footer-links {
    font-size: 1.4rem;

}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.landing-right-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    position: relative;
}

.landing-right-header {
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 6rem;
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow: visible;

    margin-top: 23rem;

    -webkit-transform: translate3d(0, 0, 0);
}

.landing-right-header::after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: blue;
    opacity: 1;
    z-index: -1;
    animation: highlightAnimation 1.5s 1.5s ease-in-out forwards;
    -webkit-animation: highlightAnimation 1.5s 1.5s ease-in-out forwards;
}

.landing-right-header-fade-out::after {
    animation: fadeOutHighlight 1s ease-out forwards;
    -webkit-animation: fadeOutHighlight 1s ease-out forwards;
}


@keyframes highlightAnimation {
    from {
        right: 100%;
        left: 0;
    }

    to {
        right: 0;
        left: 0;
    }
}

@-webkit-keyframes highlightAnimation {
    from {
        right: 100%;
        left: 0;
    }

    to {
        right: 0;
        left: 0;
    }
}



@keyframes fadeOutHighlight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutHighlight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.text-logo {
    width: 4rem;
    height: 4rem;
    background-color: #BCDDFF;
    border: 2px solid #BCDDFF;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #BCDDFF, #88A8E5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    z-index: 999;

    animation: fadeInPop 0.2s ease-out forwards;

    position: absolute;
    top: -3rem;
    right: -3rem;
    z-index: 2;

}

.text-logo-click-effect {
    animation: clickEffect 0.5s ease-out forwards;
}

.text-logo-img {
    height: 3rem;
    width: 3rem;
}

@keyframes fadeInPop {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



@keyframes clickEffect {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 1150px) {
    .landing-container {
        flex-direction: column;
    }

    .landing-right {
        width: 100vw;
        height: 90vh;
    }

    .landing-left {
        width: 100vw;
        height: 80vh
    }

    .footer {
        scale: 0.9;
    }
}


@media only screen and (max-width: 600px) {
    .landing-right-header {
        font-size: 3rem;
        margin-bottom: 6rem;
        margin-top: 25rem;

    }
}


@media only screen and (max-width: 500px) {
    .auth-button-container {
        flex-direction: row;
        justify-content: space-around;
        width: 52rem;
    }

    .auth-button {
        width: 22rem;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 422px) {
    .landing-right-header {
        font-size: 2.6rem;


    }
}

@media only screen and (max-width: 400px) {
    .auth-button-container {
        flex-direction: row;
        justify-content: space-around;
        width: 46rem;
    }

    .auth-button {
        width: 18rem;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 370px) {
    .landing-right-header {
        font-size: 2.3rem;
    }
}

@media only screen and (max-width: 341px) {
    .auth-button-container {
        flex-direction: row;
        justify-content: space-around;
        width: 40rem;
    }

    .auth-button {
        width: 15rem;
        font-size: 1.7rem;
    }
}