.forgotPassword {
  align-self: flex-end;
  color: #4e617e;
  /* Görseldeki renk */
  cursor: pointer;
  margin-top: 1rem;
}

.forgotPassword a {
  color: #4e617e;
  /* Görseldeki renk */
  cursor: pointer;
}

.signUpPrompt {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.6rem;
}

.signUpPrompt a {
  color: #4e617e;
  /* Görseldeki renk */
  cursor: pointer;
}